*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(242, 242, 242);
    position: fixed;
}
.thread-left{
    height: 100vh;
    width: 5vw;

    position: fixed;
}
.icon1 i{
    font-size: 32px;
    position: absolute;
    top: 2vh;
    left: 2vw;
    transition: .5s;
    &:hover{
        transform: scale(1.1);
    }
}
.icon2{
    height: 6vh;
    width: 3.5vw;
    border-radius: 10px;
position: absolute;
top: 20vh;
left: 1.3vw;
&:hover{
    background-color: rgb(221, 221, 221);
}
}
.icon2 i{
font-size: 23px;
margin-left: 14px;
margin-top: 8px;
}
.icon3{
    height: 6vh;
    width: 3.5vw;
    border-radius: 10px;
position: absolute;
top: 30vh;
left: 1.3vw;
&:hover{
    background-color: rgb(232, 232, 232);
}
}
.icon3 i{
font-size: 23px;
margin-left: 14px;
margin-top: 8px;
}
.icon4{
    height: 6vh;
    width: 3.5vw;
    border-radius: 10px;
position: absolute;
top: 40vh;
left: 1.3vw;

    background-color: rgb(232, 232, 232);

}
.icon4 i{
font-size: 23px;
margin-left: 18px;
margin-top: 9px;
}
.icon5{
    height: 6vh;
    width: 3.5vw;
    border-radius: 10px;
position: absolute;
top: 50vh;
left: 1.3vw;
&:hover{
    background-color: rgb(232, 232, 232);
}
}
.icon5 i{
font-size: 23px;
margin-left: 15px;
margin-top: 9px;
}
.icon6{
    height: 6vh;
    width: 3.5vw;
    border-radius: 10px;
position: absolute;
top: 60vh;
left: 1.3vw;
&:hover{
    background-color: rgb(232, 232, 232);
}
}
.icon6 i{
font-size: 23px;
margin-left: 17px;
margin-top: 9px;
}
.icon7{
    height: 6vh;
    width: 3.5vw;
    border-radius: 10px;
position: absolute;
top: 84vh;
left: 1.3vw;
&:hover{
    background-color: rgb(232, 232, 232);
}
}
.icon7 i{
font-size: 24px;
margin-left: 19px;
margin-top: 9px;
}
.icon8{
    height: 6vh;
    width: 3.5vw;
    border-radius: 10px;
position: absolute;
top: 92vh;
left: 1.3vw;
&:hover{
    background-color: rgb(232, 232, 232);
}
}
.icon8 i{
font-size: 24px;
margin-left: 19px;
margin-top: 9px;
}
.thread-right{
    height: 100vh;
    width: 93vw;
    position: relative;
    left: 5vw;
}
.home{
    font-family: "poppins";
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 2vh;
    left: 40vw;
    
}
.log{
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: black;
    color: white;
    width: 5vw;
    position: absolute;
    right: 2vw;
    top: 2vh;
cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;

}
.container{
    height: 95vh;
    width: 40vw;
    background-color: white;
    position: fixed;
    top: 6vh;
    left: 26vw;
    border-radius: 14px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container .inner{
    height: 83vh;
    width: 38vw;
    position: relative;
    top: 1vh;
    left: 1vw;
}
.inner img{
    height: 6.3vh;
    width: 6.8vh;
    border-radius: 50%;
    position: absolute;
    top: 2vh;
    left: 1.5vw;
}
.inner .ione{
    height: 4vh;
    width: 4vh;

    border-radius: 50%;
    font-size: 14px;
    position: absolute;
    right: 1vw;
    top: 1vh;
    padding: 3px;
    &:hover{background-color: rgb(240, 240, 240);}

}
.inner .ione i{
    margin-left: 7px;
    margin-top: 7px;
}
.inner .username{
    font-size: 14px;
    font-weight: 600;
font-family: sans-serif;
position: absolute;
top: 2vh;
left: 5.3vw;
}
.inner span{
    font-size: 14px;
    font-weight: 400;
    color: slategray;
font-family: sans-serif;
}
.inner .line1{
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
top: 5vh;
left: 5.3vw;
}
.inner .line2{
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
top: 10vh;
left: 5.3vw;
}
.inner .pp{
    height: 60vh;
    width: 30vw;
    position: absolute;
    top: 15vh;
    left: 4vw;
    border-radius: 10px;
}
.inner video{
    height: 60vh;
    width: 15vw;
    position: absolute;
    top: 15vh;
    left: 4vw;
    border-radius: 10px;
    object-fit: cover;
}
.inner .ione2{
    height: 4vh;
    width: auto;
    border-radius: 15px;
    font-size: 17.5px;
    position: absolute;
    left: 4vw;
    bottom: 1vh;
    padding: 2px;
    padding-right: 10px;
    &:hover{background-color: rgb(240, 240, 240);}
}
.inner .ione2 i{
    margin-left: 7px;
    margin-top: 6.5px;
}
.inner .ione3{
    height: 4vh;
    width: auto;
    border-radius: 15px;
    font-size: 18px;
    position: absolute;
    left: 8.5vw;
    bottom: 1vh;
    padding: 2px;
    padding-right: 10px;
    &:hover{background-color: rgb(240, 240, 240);}
   
}
.inner .ione3 i{
    margin-left: 7px;
    margin-top: 6.5px;
}
.inner .ione4{
    height: 4vh;
    width: auto;
    border-radius: 15px;
    font-size: 17px;
    position: absolute;
    left: 12vw;
    bottom: .9vh;
    padding: 2px;
    padding-right: 10px;
    &:hover{background-color: rgb(240, 240, 240);}
   
}
.inner .ione4 i{
    margin-left: 7px;
    margin-top: 6.5px;
}
.inner .ione5{
    height: 4vh;
    width: auto;
    border-radius: 15px;
    font-size: 16px;
    position: absolute;
    left: 15.5vw;
    bottom: 1vh;
    padding: 2px;
    padding-right: 10px;
    &:hover{background-color: rgb(240, 240, 240);}
   
}
.inner .ione5 i{
    margin-left: 7px;
    margin-top: 6.5px;
}
.inner .ione6{
    height: 4vh;
    width: auto;
    border-radius: 15px;
    font-size: 17px;
    position: absolute;
    left: 13vw;
    bottom: .9vh;
    padding: 2px;
    padding-right: 10px;
    &:hover{background-color: rgb(240, 240, 240);}
   
}
.inner .ione6 i{
    margin-left: 7px;
    margin-top: 6.5px;
}
.inner .ione7{
    height: 4vh;
    width: auto;
    border-radius: 15px;
    font-size: 17px;
    position: absolute;
    left: 17.6vw;
    bottom: .9vh;
    padding: 2px;
    padding-right: 10px;
    &:hover{background-color: rgb(240, 240, 240);}
   
}
.inner .ione7 i{
    margin-left: 7px;
    margin-top: 6.5px;
}
HR{
position: relative;
top: 1vh;    
}
