*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/Screenshot\ 2025-01-27\ 155529.png);
    background-size: contain;
    backdrop-filter: blur(12px);
    height: 100vh;
    
}
.container{
    height: 99.5vh;
    width: 30vw;
    /* border: 1px solid black; */
    position: relative;
    left: 35vw;
    object-fit: cover;
    border-radius: 10px;
    backface-visibility: 50%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}